<!DOCTYPE html>
{% load static %}

<html>
    <head lang="en">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js%22%3E"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <body onload="get_authenticated()">
        <script src="{% static 'guitar/index.js' %}"></script>
    </body>
    
    {% block script %}

    {% endblock %}

        <meta charset="UTF-8" />

        <link rel="stylesheet" href="{% static 'style.css' %}">
        
        <title id="base-title">
            {% block title_block %}
                🎸GuitarGuitar🎸
            {% endblock %}
            
        </title>

        <div class="header">
            {% block header_block %}
            {% endblock %}
         

            <div>
                {% block navbar_block %}
                    <ul id="navbar">
                        <li><a href="/guitar">Home</a></li>
                        <li><a href="{% url 'guitar:brandZZ' %}">Brands</a></li>
                        <li><a href="{% url 'guitar:categorieZZ' %}">Categories</a></li>
                    </ul>
                {% endblock %}
            </div>   
            
        </div>
    </head>

    <body>
        <div>
            {% block body_block %}
            
            {% endblock %}
        </div>
       

    </body>

</html>
