<!DOCTYPE html>
{% load static %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />

        <link rel="stylesheet" href="{% static 'style.css' %}">
        
        <title id="base-title">
            {% block title_block %}
                🎸GuitarGuitar🎸
            {% endblock %}
        </title>

        <div class="header">
            {% block header_block %}
            {% endblock %}
         

            <div>
                {% block navbar_block %}
                    <ul id="navbar">
                        <li><a href="/guitar">Home</a></li>
                        <li><a href="/guitar/brands">Brands</a></li>
                        <li><a href="/guitar/categories">Categories</a></li>
                    </ul>
                {% endblock %}
            </div>   
            
        </div>
    </head>

    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
       

    </body>

</html>