{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Guitars</title>
        <link rel="stylesheet" href="{% static 'testing.css' %}">
    </head>
    <body>
        <h1>Hello, Guitar!</h1>

        {% block navbar_block %}
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Guitars</a></li>
            <li><a href="">Brands</a></li>
            <li><a href="">Category</a></li>
            <li><a href="">Reserved</a></li>
        </ul>
        {% endblock %}
        
    </body>
</html>