<!DOCTYPE html>
{% extends 'guitar/base.html' %}
{% load static %}

{% block header_block %}
    <h1 id="header">Welcome to 🎸GuitarGuitar🎸</h1>
{% endblock %}

{% block body_block %}

    <div id="Container">
        <h2>Guitars of the day!!</h2>
        <div id="carousel">
            {% if guitars %}
                {% for guitar in guitars %}
                <div class="guitar-container">
                    <h3 class="guitar-title-text">{{ guitar.itemName }}</h3>
                    <div class="guitar-image"> 
                        <img id="guitarImage" src="{{ guitar.pictureMain }}" alt="post-picture" />
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <strong>There are no guitars present</strong>
            {% endif %}
        </div>


{% endblock %}


{% block script %}
      <script src="{% static 'guitar/index.js' %}"></script>
{% endblock %}
